img{
    width: 150px; 
    height: 150px;
  }
  #card{
    border: 8px solid black;
    text-align: center;
    padding: 30px;
    background-color: powderblue;
    margin: 80px auto;
    width: 700px;
    height: 460px;
  }