$lightblue: rgb(89, 155, 175);
$medblue: rgb(69, 118, 133);
$transpfilter: rgba(0,0,0,0.8);

html {
  scroll-behavior: smooth;
}

.body{
  background-image: linear-gradient(rgb(14, 14, 53), rgb(121, 213, 241));
  /*rgb(89, 155, 175);
  rgb(71, 157, 179)*/
  height: 2200px;
  margin: 0px 0px 0px 0px;
  font-family: 'Montserrat';
  overflow-x: hidden;
}

.navbar {
  inline-size: 100%;
  padding: 5px 10px 5px 0px;
  font-weight: 600;
  font-family: 'Montserrat';
  overflow: hidden;
  background-color: rgb(6, 6, 22);
  position: fixed;
  z-index: 100;
  transition: .15s linear padding;
  transition: .15 ease-in-out background-color;
}

.bignavbar{
  inline-size: 100%;
  padding: 10px 10px 10px 0px;
  font-weight: 600;
  font-family: 'Montserrat';
  overflow: hidden;
  background-color: rgb(6, 6, 22);
  position: fixed;
  z-index: 100;
  transition: .15s linear padding;
  transition: .15 linear background-color;
}

.navbarhighlight{
  color: rgb(14, 14, 53);
  background-color: $lightblue;
  transition: .15 linear background-color;
}

#intro_info{
  margin-top: 85px;
  position: absolute;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 200%;
  width: 100%;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -100%);
  color: white;
  z-index: 10;
  white-space: nowrap;
}

.bignavbar a:hover {
  color:$medblue;
}

.navbar a:hover {
  color: $medblue;
}

/* Navbar links */

.headlinks {
  font-family: 'Montserrat';
  font-size: 120%;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: .15s linear font-size;
  border-radius: 5px;
} 

.background_image{
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 115%;
  overflow: hidden;
  opacity: 0.9;
}

.bigheadlinks {
  font-family: 'Montserrat';
  font-size: 170%;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: .15s linear font-size;
  border-radius: 5px;
}

.intro{
  position: relative;
  height: 500px;
  margin: 0;
}

.profile_pic{
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -100%);
  border: 4px solid rgb(14, 14, 53);
  height: auto; 
  width: auto; 
  max-width: 250px; 
  max-height: 250px;
}

.name_title{
  position: absolute;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 450%;
  left: 50%;
  top: 82%;
  transform: translate(-50%, -100%);
  color: white;
  z-index: 10;
  white-space: nowrap;
}

.description {
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 40px;
}

.projects {
  padding-bottom: 50px;
}

.project-contain {
  padding: 0px 200px 0px;
}

#projectstitle{
  position: relative;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 450%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  white-space: nowrap;
  margin: 0;
  margin-top: 120px;
}

#skillstitle{
  position: relative;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 450%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  white-space: nowrap;
  margin: 0;
  margin-top: 33px;
}

.project {
  position: relative;
  cursor: pointer;
  padding: 20px;
  border-top: solid 1px black;
}

#project1 {
  position: relative;
  cursor: pointer;
  padding: 20px;
  border-top: solid 1px black;
}

.p-name {
  font-weight: 300;
  font-size: 2em;
}

.p-subinfo {
  font-weight: 300;
  float: right;
  text-align: right;
}

.p-description {
  font-weight: 300;
  padding-top: 40px;
}

.images {
  padding-top: 20px;
}

.image-contain {
  position: relative;
  width: 33%;
  box-sizing: border-box;
  padding: 20px 10px;
  display: inline-block;
}

.image {
  width: 100%;
  border-radius: 5px;
  box-shadow: black 10px 10px 20px 1px;
}

.image_icon {
  width: 100%;
  border-radius: 5px;
}

#image_modal{
  max-height: 200px;
}

#image2{
  max-height: 250px;
}

#image3{
  max-height: 350px;
}

#image4{
  max-height: 250px;
}

.image:hover {
  filter: brightness(50%);
}

.lastborder {
  border-bottom: solid 1px black;
}

.expand-project {
  display: none;
}

.project-contain:hover * {
  color: white;
}

.carousel{
  position: relative;
  border-radius: 16px;
  height: 15%;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  z-index: 10;
  overflow: hidden;
  margin-bottom: 60px;
}

.moving{
  will-change: left;
  transition: 0.5s ease-in-out left;
}

.slide{
  position: absolute;
  display: none;
  left: 0%;
  width: 100%;
  height: 100%;
}

.image_icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
}

#image_icon4{

}

.visible{
  display: block;
}

.right{
  left: 100%;
}

.left{
  left: -100%;
}

#slide0{
  background-color: rgb(236, 107, 56);
}

#slide1{
  background-color: rgb(112, 224, 90);
}

#slide2{
  background-color: rgb(120, 230, 224);
}

#slide3{
  background-color: rgb(223, 221, 117);
}

.left_arrow{
  display: inline-block;
  height: 50px;
  width: 50px;
  color: rgba(0,0,0,0.5);
  transition: 0.15s ease-in-out color;
  position: absolute;
  font-size: 30px;
  left: 10px;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  cursor: pointer;
}

.left_arrow:hover {
  color: $transpfilter;
}

.right_arrow:hover {
  color: $transpfilter;
}

.right_arrow{
  display: inline-block;
  height: 50px;
  width: -50px;
  position: absolute;
  font-size: 30px;
  right: 10px;
  top: 50%;
  color: rgba(0,0,0,0.5);
  transition: 0.15s ease-in-out color;
  z-index: 1000;
  transform: translateY(-50%);
  cursor: pointer;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.0);
  z-index: 1000;
  transition: .25s ease-in-out background-color;
  pointer-events: none;
}

.modal_window{
  position: absolute;
  border-radius: 16px;
  height: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  z-index: 10000;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.modalvisible{
  background-color: rgba(0,0,0,0.5);
  pointer-events: all;
}

.modalvisible .modal_window {
  opacity: 1;
}

/*carousel*/

#project1:hover {
  background: #DE598E;
}

#project2:hover {
  background: #4AC6EB;
}

#project3:hover {
  background: #28B65B;
}

.video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin: 0 auto;
  z-index: 10001;
}

.footer{
  position: relative;
  column-count: 3;
  column-gap: 10px;
}

.contact_title_contain{
  position: relative;
  width: 100%;
  height: 100px;
}

.contactstitle{
  position: absolute;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 450%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
  white-space: nowrap;
  margin: 0;
  margin-top: 0px;
}

.multi_column{
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: 90px;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  list-style-type: none;
  border-radius: 10px;
}

.icons{
  font-size: 300%;
  color: rgb(20, 20, 77);
}

.icons:hover{
  color: rgb(20, 20, 77);
}

.icontitle{
  font-size: 200%;
}

#footer{
  inline-size: 100%;
  width: 100%;
  height: 200px;
  padding: 5px 10px 5px 0px;
  font-weight: 600;
  font-family: 'Montserrat';
  overflow: hidden;
  background-color: rgb(14, 14, 53);
  position: relative;
  z-index: 100;
  transition: .15s linear padding;
  transition: .15 ease-in-out background-color;
}

#footer_text{
  /*position: absolusste;*/
  display: block;
  float: right;
  color: white;
  margin-top: 170px;
  margin-right: 20px;
  z-index: 1000;
}

#image_icon4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(148, 69, 201);
  font-size: 1000%;
}


